<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huluwa.server.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.huluwa.server.entity.Company" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="managerEmail" property="manageremail" jdbcType="VARCHAR" />
    <result column="managerPhone" property="managerphone" jdbcType="VARCHAR" />
    <result column="servicesPhone" property="servicesphone" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="creatAt" property="creatat" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, manager, managerEmail, managerPhone, servicesPhone, industry, creatAt, 
    type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huluwa.server.entity.CompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huluwa.server.entity.CompanyExample" >
    delete from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huluwa.server.entity.Company" >
    insert into company (id, name, manager, 
      managerEmail, managerPhone, servicesPhone, 
      industry, creatAt, type
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, 
      #{manageremail,jdbcType=VARCHAR}, #{managerphone,jdbcType=VARCHAR}, #{servicesphone,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{creatat,jdbcType=TIMESTAMP}, #{type,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huluwa.server.entity.Company" >
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="manageremail != null" >
        managerEmail,
      </if>
      <if test="managerphone != null" >
        managerPhone,
      </if>
      <if test="servicesphone != null" >
        servicesPhone,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="creatat != null" >
        creatAt,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="manageremail != null" >
        #{manageremail,jdbcType=VARCHAR},
      </if>
      <if test="managerphone != null" >
        #{managerphone,jdbcType=VARCHAR},
      </if>
      <if test="servicesphone != null" >
        #{servicesphone,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="creatat != null" >
        #{creatat,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huluwa.server.entity.CompanyExample" resultType="java.lang.Integer" >
    select count(*) from company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.manager != null" >
        manager = #{record.manager,jdbcType=VARCHAR},
      </if>
      <if test="record.manageremail != null" >
        managerEmail = #{record.manageremail,jdbcType=VARCHAR},
      </if>
      <if test="record.managerphone != null" >
        managerPhone = #{record.managerphone,jdbcType=VARCHAR},
      </if>
      <if test="record.servicesphone != null" >
        servicesPhone = #{record.servicesphone,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null" >
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.creatat != null" >
        creatAt = #{record.creatat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      manager = #{record.manager,jdbcType=VARCHAR},
      managerEmail = #{record.manageremail,jdbcType=VARCHAR},
      managerPhone = #{record.managerphone,jdbcType=VARCHAR},
      servicesPhone = #{record.servicesphone,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      creatAt = #{record.creatat,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huluwa.server.entity.Company" >
    update company
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="manageremail != null" >
        managerEmail = #{manageremail,jdbcType=VARCHAR},
      </if>
      <if test="managerphone != null" >
        managerPhone = #{managerphone,jdbcType=VARCHAR},
      </if>
      <if test="servicesphone != null" >
        servicesPhone = #{servicesphone,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="creatat != null" >
        creatAt = #{creatat,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huluwa.server.entity.Company" >
    update company
    set name = #{name,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      managerEmail = #{manageremail,jdbcType=VARCHAR},
      managerPhone = #{managerphone,jdbcType=VARCHAR},
      servicesPhone = #{servicesphone,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      creatAt = #{creatat,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>