<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huluwa.server.mapper.DeptCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.huluwa.server.entity.DeptCompany" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="deptId" property="deptId" jdbcType="BIGINT" />
    <result column="compId" property="compId" jdbcType="BIGINT" />
    <result column="parentCompId" property="parentCompId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, deptId, compId, parentCompId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from company_dept
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from company_dept
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huluwa.server.entity.DeptCompany" >
    insert into company_dept (id, deptId, compId, parentCompId)
    values (#{id,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{compId,jdbcType=BIGINT}, #{parentCompId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huluwa.server.entity.DeptCompany" >
    update company_dept
    set deptId = #{deptId,jdbcType=BIGINT},
      compId = #{compId,jdbcType=BIGINT},
      parentCompId = #{parentCompId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByCompId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from company_dept
    where compId = #{compId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByTwoId" parameterType="java.lang.Long" >
    delete from company_dept
    where compId = #{compId,jdbcType=BIGINT}
    and deptId = #{deptId,jdbcType=BIGINT}
  </delete>
</mapper>